/* цвет основного текста  #212121 */
/* вторичный цвет текста #757575 */
/* цвет фона #ffffff */
/* белый цвет  #FFFFFF */
/* Акцент  #2196F3 */

/* ---------------------Rooot--------------------- */
:root {
    --mail-title-color: #ffffff ;
    --secondary-title-color:#212121 ; 
    --main-text-color:#212121 ;
    --secondary-text-color:#757575;
    --accent-color: #2196F3;
    --our-team:#F5F4FA;
    --footer-color:#2F303A;
    --background-color-fon: #ffffff;
    --background-color-section: #2F303A;
    --color-black:black; 
    --hero:#2F303A;
}

/* ---------------------Body--------------------- */
body {
font-family: 'Roboto', sans-serif;
background-color: var(--background-color-fon);
color: var(--main-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.list{
     list-style: none;
}

.link{
    text-decoration: none;
    color: var(--main-text-color);
}

.link > p {
    color: var(--secondary-text-color);
}

.button{
    text-transform: none;
}

.btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none; 
}

.btn:hover,
.btn:focus{
    background-color: var(--accent-color);
    color:var(--mail-title-color);
}

.hidden{
    visibility: hidden;
}

.logo{
    color: #2196F3;
    
}

#notactive{
    color: var(--main-text-color));
}

.active-alltime{
    color: var(--accent-color);
}
/* ---------------------Header--------------------- */

.header-logo{
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--color-black);
font-family: 'Raleway', sans-serif;
}



/* .header-link{
} */


.notactive:hover,
.notactive:focus{
color: var(--accent-color);
}

.header-tel{
color: var(--secondary-text-color);
}

.header-mail{
color: var(--secondary-text-color);
}

.header-mail:hover,.header-mail:focus{
    color: var(--accent-color);}
.header-tel:hover,.header-tel:focus{
    color: var(--accent-color);}

/* ---------------------Main--------------------- */
.hero{
background-color:var(--hero);
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-idea{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--mail-title-color);
}

.hero-button{
background-color: var(--accent-color);
color: var(--mail-title-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
text-transform: none;
width: 200px;
}

.hang-title{
font-family: Roboto;
font-weight: 700;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-title-color);
}

.hang-text{
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.our-team{
    background-color: var(--our-team);
}

.title-section{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--secondary-title-color);
}

.our-team-title{
font-weight: 500;
font-size: 16px;
line-height: 1.1875;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color);
}

.our-team-text{
font-size: 16px;
line-height: 1.1875;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

/*--------- footer ---------*/
.footer{
background-color: var(--footer-color);
}

.footer-address{
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
font-family: Roboto;
font-style: normal;
font-weight: normal;
color: var(--mail-title-color);
}

.footer-mail,.footer-tel{
line-height: 1.71;
letter-spacing: 0.03em;
font-style: normal;
font-weight: normal;
color: rgba(255, 255, 255, 0.6);
}

.footer-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--mail-title-color);
}

.filter:hover,
.filter:focus{
 background-color: var(--accent-color);
 color: var(--mail-title-color);
}

.filter-text{
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-title-color);
}

.footer-mail:hover,.footer-tel:focus, 
.footer-tel:hover,.footer-mail:focus{
color: var(--accent-color);
}

.filter-down{
    background-color: var(--accent-color);
    color: var(--mail-title-color);
}








