/* цвет основного текста  #212121 */
/* вторичный цвет текста #757575 */
/* цвет фона #ffffff */
/* белый цвет  #FFFFFF */
/* Акцент  #2196F3 */

/* ---------------------Rooot--------------------- */
:root {
    --mail-title-color: #ffffff ;
    --secondary-title-color:#212121 ; 
    --main-text-color:#212121 ;
    --secondary-text-color:#757575;
    --accent-color: #2196F3;
}
/* ---------------------Body--------------------- */
body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.list{
     list-style: none;
}

.link{
    text-decoration: none;
}

.button{
    text-transform: none;
}

.btn{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
    
.btn:hover,
.btn:focus{
    background-color: var(--accent-color);
    color: #ffffff;
}

.none{
    background-color: #ffffff;
    color: #ffffff;
    list-style: none;
}  
.logo{
    color: #2196F3;
}

.notactive{
    color: var(--secondary-title-color);
}

.active-alltime{
    color: var(--accent-color);
}
/* ---------------------Header--------------------- */

.header-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:#000000;
}

.header-list{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.header-link{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}


.header-link:hover,
.header-link:focus{
    color: var(--accent-color);
}

.header-tel{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:#757575;
}

.header-mail{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.header-mail:hover,.header-mail:focus{
    color: var(--accent-color);}
.header-tel:hover,.header-tel:focus{
    color: var(--accent-color);}

/* ---------------------Main--------------------- */
.hero{
background-color: #2F303A;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-idea{
font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--mail-title-color);
}

.hero-button{
background: #2196F3;
color: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
text-transform: none;
}

.hang-title{
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.hang-text{
font-family: 'Roboto';
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.title-section{
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--secondary-title-color);
}

.our-team-title{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.1875;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color);
}

.our-team-text{
font-family:'Roboto';
font-size: 16px;
line-height: 1.1875;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

/*--------- footer ---------*/
.footer{
background-color: #2F303A;
}

.footer-address{
font-family: 'Roboto';
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-mail,.footer-tel{
font-family: 'Roboto';
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #ffffff;
}

.filter:hover,
.filter:focus{
 background-color: var(--accent-color);
 color: #FFFFFF;
}

.filter-text{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-title-color);
}

.footer-mail:hover,.footer-tel:focus{
color: var(--accent-color);
}
.footer-tel:hover,.footer-mail:focus{
color: var(--accent-color);
}

.filter-down{
    background-color: var(--accent-color);
    color: var(--mail-title-color);
}








